# ─── Environment ──────────────────────────────────────────────────────────────
# Python virtual environments
venv/
.venv/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
.jupyter_ystore.db

# IDE/project files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ─── Data & archives ──────────────────────────────────────────────────────────
# large raw data (DVC‑tracked)
# ─── RAW DATA ───────────────────────────────────────────────────────────────
# ignore all contents under data/raw
data/raw/**
/2015,2016,2018,2021/
*.zip
year/
# but *do not* ignore any Python or DVC files in there:
!/data/raw/**/*.py
!/data/raw/*.py
!/data/raw/**/*.dvc
!/data/raw/*.dvc

